.Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-left: 25vw;
    text-align: center;
}

.beerImg {
    height: 200px;
}